/*=================todo o estilo estará aqui==============*/
body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    background: black;
  }
  
  body::before {
    content: "";
    position: fixed;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
  
  @media (min-width: 1024px) {
    body::before {
      background-attachment: fixed;
    }
  }
  
  a {
    color: #18d26e;
  }
  
  a:hover {
    color: #35e888;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  /*---====Topo do site (header)*/
  #header {
    transition: ease-in-out 0,3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
  }
  #header * {
    transition: ease-in-out;
  }
  #header h1 {
    font-size: 48px;
    margin: 0%;
    padding: 0%;
    line-height: 1;
    font-weight: 700;
    font-family: "popins", sans-serif;
  }
  #header h1 a, 
  #header h1 a:hover {
    color: white;
    line-height: 1;
    display: inline-block;
  }
  #header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgb(255, 255, 255, 0.8);
  }
  #header h2 span {
    font-size: 27px;
    color: white;
    border-bottom: 3px solid blue;
    padding-bottom: 6px;
    
  }
  #header h2 span:hover {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid green;
    padding-bottom: 6px;
  }
  #header .social-links {
    margin-top: 40px;
    display: flex;
  }
  #header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
  #header .social-links a:hover {
    background: purple;
  }
  /*-----=====Parte responsiva para todos os navegadores===---*/
  @media (max-widht:922px) {
    #header h1 {
      font-size: 26px;
    }
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
    #header .social-links {
      margin-top: 15px;
    }
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  /*----=====Parte do menu e sua navegação*/
  .nav-menu {
    margin-top: -450px;
    margin-left: 57%;
  }
  .nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu li + li {
    margin-left: 30px;
  }
  .nav-menu a {
    display: block;
    position: relative;
    color: rgb(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: "poppins",sans-serif;
    font-weight: 400;
  }
/*-----=========------*/
  .nav-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0%;
    background-color: green;
    visibility: hidden;
    width: 0px;
    transition: all 0,3s ease-in-out 0s;
  }
  .nav-menu a:hover::before,
  .nav-menu li:hover > a::before,
  .nav-menu .active > a::before{
    visibility: visible;
    width: 35px;
  }
  .nav-menu a:hover,
  .nav-menu .active > a,
  .nav-menu li:hover >a {
    color: white;
    text-decoration: none;
  }
  /*-----===Essa parte será para navedores mobile===----*/
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  .mobile-nav-toggle i {
    color: white;
  }